div.alert.alert-info.alert-dismissible
    button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") ×
    strong
        i.fa.fa-exclamation-triangle.m-l-5
        | راهنما
    p.m-t-5
        i.fa.fa-minus.m-l-5
        | ستون با علامت
        i.fa.fa-link.m-r-5.m-l-5
        | نشان این است که مقادیر آن ستون لینک هستند