#lock_screen
    table
        tr
            td
                .clock
                span.unlock
                    span.fa-stack.fa-5x
                        i.fa.fa-square-o.fa-stack-2x.fa-inverse
                        i#icon_lock.fa.fa-lock.fa-stack-1x.fa-inverse