extends ../layout

block body-content
    body.nav-md
        .container.body
            .main_container
                // page content
                .col-md-12
                    .col-middle
                        .text-center.text-center
                            h1.error-number.text-danger 500
                            h2 خطای داخلی سرور
                            p
                                | مابه صورت خودکار این خطاها را پیگیری می کنیم،اما اگر مشکل همچنان ادامه دارد با خیال راحت با ما تماس بگیرید. در این میان، سعی کنید صفحه را بازخوانی کنید
                            .mid_center
                                h3
                                    a(href="/v1.0/admin") بازگشت به صفحه اصلی
