extends ../body-layout


block content

    // page content
    .right_col(role="main")
        div
            .page-title
                h4.title_left.m-b-15
                    a(href="/v1.0/admin") خانه
                    i.fa.fa-chevron-left.p-r-5.p-l-5
                    a(href="/v1.0/admin/roles") لیست نقش ها
                    i.fa.fa-chevron-left.p-r-5.p-l-5
                    | ویرایش نقش:
                    if(info)
                        | #{info.title}
            .clearfix
            .row
                .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        .x_title
                            h2
                                | ویرایش نقش
                            ul.nav.navbar-right.panel_toolbox
                                li
                                    a.collapse-link
                                        i.fa.fa-chevron-up
                            .clearfix

                        include ../partials/show-errors

                        if info
                            .x_content
                                form.form-horizontal.form-label-left(action="/v1.0/admin/roles/" + info._id + "" method="POST" novalidate="")
                                    input(type="hidden" name="_method" value="PATCH")
                                    .item.form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12(for="title")
                                            | عنوان
                                            span.required *
                                        .col-md-6.col-sm-6.col-xs-12
                                            input#title.form-control.col-md-7.col-xs-12(name="title" required="required" type="text" value=info.title)
                                    .item.form-group
                                        .control-label.col-md-3.col-sm-3.col-xs-12
                                        .col-md-3.col-sm-3.col-xs-12
                                            | فعال
                                        .col-md-3.col-sm-3.col-xs-12
                                            | خواندن
                                        .col-md-3.col-sm-3.col-xs-12
                                            | خواندن و نوشتن
                                    each val in Roles
                                        .item.form-group
                                            label.text-left.col-md-3.col-sm-3.col-xs-12
                                                | #{i18next("globals.roles." + val)}
                                            .col-md-3.col-sm-3.col-xs-12
                                                input(name="active_" + val type="checkbox" value="1" checked=(info.access[val] && info.access[val]["active"] === true))
                                                input(name="role_" + val type="hidden" value=val)
                                            .col-md-3.col-sm-3.col-xs-12
                                                input(name="permission_" + val type="radio" value="READ" checked=(info.access[val] && info.access[val]["permission"] === "READ"))
                                            .col-md-3.col-sm-3.col-xs-12
                                                input(name="permission_" + val type="radio" value="READ_WRITE" checked=(info.access[val] && info.access[val]["permission"] === "READ_WRITE"))
                                    .ln_solid
                                    .form-group
                                        .col-md-6.col-md-offset-3
                                            button#send.btn.btn-success(type="submit") ارسال
                                            button.btn.btn-danger(type="button" onclick="window.location='/v1.0/admin/roles'") انصراف


block scripts
    // Validator
    script(src="/js/validator.js")