doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        // Meta, title, CSS, favicons, etc.
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='fontiran.com:license', content='Y68A9')
        link(rel='icon', href='/images/logo.png', type='image/ico')
        title دیوان محاسبات | پنل مدیریت
        // Base
        link(href='/css/base.css' rel='stylesheet')
        // Bootstrap
        link(href='/css/bootstrap.min.css' rel='stylesheet')
        link(href='/css/bootstrap-rtl.min.css' rel='stylesheet')
        // Font Awesome
        link(href='/css/font-awesome.min.css' rel='stylesheet')
        // NProgress
        link(href='/css/nprogress.css' rel='stylesheet')
        // bootstrap-progressbar
        link(href='/css/bootstrap-progressbar-3.3.4.min.css' rel='stylesheet')
        // iCheck
        link(href='/css/green.css' rel='stylesheet')
        // Animate.css
        link(href='/css/animate.min.css' rel='stylesheet')
        // Select2
        link(href='/css/select2.css' rel='stylesheet')


        block styles


        // Custom Theme Style
        link(href='/css/custom.min.css' rel='stylesheet')

        // Custom Our Style
        link(href='/css/custom-changes.css' rel='stylesheet')


        //Body Content
        block body-content


        // npm packages
        script(src='/js/viewCustom.js')

        // Bootstrap
        script(src='/js/bootstrap.min.js')
        // FastClick
        script(src='/js/fastclick.js')
        // NProgress
        script(src='/js/nprogress.js')
        // bootstrap-progressbar
        script(src='/js/bootstrap-progressbar.min.js')
        // iCheck
        script(src='/js/icheck.min.js')
        // Select2
        script(src='/js/select2.full.js')


        block scripts


        // Custom Theme Scripts
        script(src='/js/custom.min.js')

        // Custom Our Scripts
        script(src='/js/custom-changes.js')
