extends ../layout

block body-content

    body.login
        div
            a#signup.hiddenanchor
            a#reset.hiddenanchor
            .login_wrapper
                #login.animate.form.login_form
                    section.login_content
                        form(method="POST" action="" novalidate="")
                            .col-md-12
                                include ../partials/show-errors
                            .col-md-12
                                h1 فرم ورود
                            .col-md-12
                                .item.form-group.has-feedback
                                    input#email.form-control(type="email" placeholder="ایمیل" name="username" required="required")
                                    .form-control-feedback
                                        i.fa.fa-envelope-o.text-muted
                            .col-md-12
                                .item.form-group.has-feedback
                                    input#password.form-control(data-validate-length="6" type="password" placeholder="رمز ورود" name="password" required="required")
                                    if error
                                        input#error.form-control(type="hidden"  name="error" value= `${error}` hidden)
                                    .form-control-feedback
                                        i.fa.fa-key.text-muted
                            input#admin(type="hidden" name="userType" value="admin")
                            .col-md-12
                                button.btn.btn-default.submit.pull-right.p-r-30.p-l-30(type="submit") ورود
                                // a.reset_pass(href="#reset") رمز ورود را از دست دادید؟
                            .clearfix
                #rest_pass.animate.form.rest_pass_form
                    section.login_content
                        // /password recovery
                        form(method="POST" action="" novalidate="")
                            .col-md-12
                                h1 بازیابی رمز عبور
                            .col-md-12
                                .item.form-group.has-feedback
                                    input.form-control(type="email" name="email" placeholder="ایمیل" required="required")
                                    .form-control-feedback
                                        i.fa.fa-envelope-o.text-muted
                                button.btn.btn-default.btn-block(type="submit") بازیابی رمز عبور
                            .clearfix.col-md-12
                                .separator
                                    p.change_link
                                        a.to_register(href="#login")  ورود به حساب کاربری
                                    .clearfix
                        // Password recovery

block scripts
    // Validator
    script(src="/js/validator.js")
    script(src="/js/sweetalert2.all.min.js")
    script.
        const error = $("#error").val();
        if(error){
            Swal.fire({
                title:error,
                cancelButtonColor: '#d33',
                confirmButtonText: 'باشه',})
        }



