extends ../layout

block body-content
    body.nav-md
        .container.body
            .main_container
                // page content
                .col-md-12
                    .col-middle
                        .text-center.text-center
                            h1.error-number.text-danger 404
                            h2.text-danger
                                if (message)
                                    | #{message}
                                else
                                    | با عرض پوزش ما نمی توانیم این صفحه را پیدا کنیم
                            p
                                | این صفحه که شما به دنبال آن هستید وجود ندارد
                            .mid_center
                                h3
                                    a(href="/v1.0/admin") بازگشت به صفحه اصلی
