script.
    function ShowFullSizeImage(element)
    {
        var newTab = window.open();
        setTimeout(function() {
            newTab.document.body.innerHTML = element.innerHTML;
        }, 100);
        return false;
    }