.col-md-3.left_col.hidden-print
    .left_col.scroll-view
        .navbar.nav_title(style="border: 0;")
            a.site_title(href="/v1.0/admin")
                img(src="/images/logo.png" alt="igap" width="40")
                span پنل دیوان محاسبات
        .clearfix

        // menu profile quick info
        .profile.clearfix
            .profile_pic
                img.img-circle.profile_img(src="/images/img.png" alt="...")
            .profile_info
                //- if (session && session.userName)
                //-     h2 #{session.userName}
                //- else
                //-     h2 ناشناس
                span خوش آمدید
        br

        // sidebar menu
        #sidebar-menu.main_menu_side.hidden-print.main_menu
            .menu_section
                ul.nav.side-menu
                    li
                        a(href="/v1.0/admin")
                            i.fa.fa-home
                            |  خانه


                    li
                        a
                            i.fa.fa-chevron-left
                            | تنظیمات کاربران
                        ul.nav.child_menu
                                li
                                    a
                                        i.fa.fa-user-secret
                                        |  مدیریت نقش ها
                                        span.fa.fa-chevron-down
                                    ul.nav.child_menu
                                            li
                                                a(href="/v1.0/admin/roles/create") افزودن نقش
                                            li
                                                a(href="/v1.0/admin/roles") لیست نقش ها

                                li
                                    a
                                        i.fa.fa-user
                                        |  مدیریت کاربران
                                        span.fa.fa-chevron-down
                                    ul.nav.child_menu
                                            li
                                                a(href="/v1.0/admin/users/create") افزودن کاربر
                                            li
                                                a(href="/v1.0/admin/users") لیست کاربران
                    li
                        a
                            i.fa.fa-chevron-left
                            | اطلاعات پرسنل
                        ul.nav.child_menu
                                li
                                    a(href="/v1.0/admin/personnel")
                                        i.fa.fa-user
                                        | لیست پرسنل

                                li
                                    a(href="/v1.0/admin/personnel/create")
                                        i.fa.fa-plus
                                        | ثبت پرسنل





        // sidebar menu - menu footer buttons
        .sidebar-footer.hidden-small
            if session
                a(data-toggle="tooltip" data-placement="top" title="پروفایل" href="")
                    span.glyphicon.glyphicon-user(aria-hidden="true")
            else
                a(data-toggle="tooltip" data-placement="top" title="پروفایل" href="/v1.0/admin/profile")
                    span.glyphicon.glyphicon-user(aria-hidden="true")
            a(data-toggle="tooltip" data-placement="top" title="تمام صفحه" onclick="toggleFullScreen();")
                span.glyphicon.glyphicon-fullscreen(aria-hidden="true")
            a.lock_btn(data-toggle="tooltip" data-placement="top" title="قفل")
                span.glyphicon.glyphicon-eye-close(aria-hidden="true")
            a(data-toggle="tooltip" data-placement="top" title="خروج" href="/v1.0/admin/logout")
                span.glyphicon.glyphicon-off(aria-hidden="true")
